* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

html, body {
	font-size: 10px;
	background: darkcyan;
}

h1 {
	font-size: 4rem;
	margin-bottom: 5px;
	left: 300px;
}

p, li, input, button {
	font-size: 1.6rem;
}

.App {
	text-align: left;
}

.header {
	background-color: yellowgreen ;
	color: black;
	min-height: 30vh;
	font-size: calc(40px + 2vmin);
}

.mainapp {
	min-height: 70vh;
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
}
